{% extends "base.html.twig" %}

{% block title %}
	{{ brand.name }}
{% endblock %}

{% block body %}
	<div class="bg-white shadow-md rounded-lg p-6">
		<h1 class="text-3xl font-bold mb-4">{{ brand.name }}</h1>
		<p class="mb-6">
			Zde nalezente přehled karty vydaných značkou "{{ brand.name }}".
		</p>
		<div class="flex justify-end mb-4">
			<a href="{{ path('app_brands') }}" class="btn btn-primary">Zpět na Značky</a>
			<a href="{{ path('app_brand_invite', {'id': brand.id}) }}" class="btn btn-primary">Sdílet přístup</a>
		</div>

		<div class="overflow-x-auto">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Jméno</th>
						<th>Identifikátor karty</th>
					</tr>
				</thead>
				<tbody>

					{% for card in brand.loyaltyCards %}
						<tr class="hover">
							<th>{{ loop.index }}</th>
							<td>{{ card.customerName }}</td>
							<td>{{ card.cardIdentifier }}</td>
						</tr>
					{% else %}
						<p>Nebyly nalezeny žádné karty.</p>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
{% endblock %}
